In [11]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('us-accident-analysis')
jovian.set_colab_id('1TK58GtiqGFqDpU9o1RL8zO-TOVXzfGCs')

# us-accident-analysis

Use the "Run" button to execute the code.

In [2]:
!pip install jovian --upgrade --quiet

In [3]:
import jovian

In [4]:
# Execute this to save new versions of the notebook
jovian.commit(project="us-accident-analysis")

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········

[jovian] Error: The current API key is invalid or expired.

[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/victoradejumo2/us-accident-analysis

'https://jovian.ai/victoradejumo2/us-accident-analysis'

In [5]:
!pip install opendatasets --quiet

In [6]:
import opendatasets as od
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataste_url = "https://www.kaggle.com/sobhanmoosavi/us-accidents"
od.download(dataste_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: victoradejumo
Your Kaggle Key: ··········

  3%|▎         | 9.00M/290M [00:00<00:05, 58.5MB/s]

Downloading us-accidents.zip to ./us-accidents

100%|██████████| 290M/290M [00:02<00:00, 141MB/s]

In [9]:
data = '/content/drive/MyDrive/Jovian/victoradejumo2 us-accident-analysis/US_Accidents_Dec20_Updated.csv'
df_one = pd.read_csv(data, header = 0)
df_one.head()

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-1         2  ...               Day                   Day
1  A-2         2  ...               Day                   Day
2  A-3         2  ...             Night                 Night
3  A-4         2  ...               Day                   Day
4  A-5         3  ...               Day                   Day

[5 rows x 47 columns]



```
# Number of accidents in Cool and Warm areas
```

In [12]:
df_one.set_index(pd.Index([num for num in range(1, len(df_one) + 1)]), inplace = True)

In [13]:
df_one.head()

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
1  A-1         2  ...               Day                   Day
2  A-2         2  ...               Day                   Day
3  A-3         2  ...             Night                 Night
4  A-4         2  ...               Day                   Day
5  A-5         3  ...               Day                   Day

[5 rows x 47 columns]

In [14]:
df_one['Temperature(F)'].isnull().sum()

67224

In [15]:
df_one['Temperature(F)'].fillna(df_one['Temperature(F)'].mean(), inplace = True)

In [16]:
cool_region = df_one[df_one['Temperature(F)'] <= 45]

In [17]:
len(cool_region)

579201

In [18]:
warm_region = cool_region = df_one[df_one['Temperature(F)'] > 45]

In [19]:
len(warm_region)

2327409

There are more Accident in warm areas than cool areas

Data Cleaning

In [ ]:
df_one.set_index(pd.Index([num for num in range(1, len(df_one) + 1)]), inplace = True)

In [ ]:
df_one.head()

In [ ]:
df_one.isnull().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                   282821
End_Lng                   282821
Distance(mi)                   0
Description                    0
Number                   1891672
Street                         0
Side                           0
City                         108
County                         0
State                          0
Zipcode                     1114
Country                        0
Timezone                    3430
Airport_Code                6608
Weather_Timestamp          46917
Temperature(F)                 0
Wind_Chill(F)            1183859
Humidity(%)                71270
Pressure(in)               56908
Visibility(mi)             72078
Wind_Direction             63474
Wind_Speed(mph)           307163
Precipitation(in)        1301326
Weather_Condition          71851
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               110
Civil_Twilight               110
Nautical_Twilight            110
Astronomical_Twilight        110
dtype: int64

In [ ]:
df_one.dropna(axis = 0, how = "any", inplace = True)

In [ ]:
df_one.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Number                   0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

**Top 10 Regions with the highest number of accident**

In [20]:
group_data = pd.DataFrame(df_one.groupby('State')['Number'].sum()).sort_values(by='Number', ascending=False)
print(group_data[-10:])

          Number
State
MA     2976729.0
WV     2444557.0
CT     1861245.0
ND      966992.0
SD      793406.0
NH      624903.0
RI      541859.0
VT      541025.0
WY      512353.0
ME      336225.0

Percentage of Missing Data

Top Ten Time-Zones with Highest Accidents

In [61]:
group_data1 = pd.DataFrame(df_one.groupby('Timezone')['Number'].sum()).sort_values(by='Number', ascending=True)
print(group_data1)

                   Number
Timezone
US/Mountain  3.408784e+08
US/Central   1.429654e+09
US/Eastern   2.094822e+09
US/Pacific   2.987070e+09

Top Ten Accidents in Different Wheather Condition

In [64]:
group_data2 = pd.DataFrame(df_one.groupby('Weather_Condition')['Number'].sum()).sort_values(by='Number', ascending=False)
print(group_data2[:10])

                         Number
Weather_Condition
Fair               1.903947e+09
Clear              1.084484e+09
Mostly Cloudy      7.848457e+08
Cloudy             7.068665e+08
Partly Cloudy      5.619323e+08
Overcast           4.892298e+08
Light Rain         3.265191e+08
Scattered Clouds   2.225752e+08
Fog                1.111139e+08
Light Snow         1.057601e+08

Top Ten Accidents in Different Wheather Directions

---

In [65]:
group_data3 = pd.DataFrame(df_one.groupby('Wind_Direction')['Number'].sum()).sort_values(by='Number', ascending=False)
print(group_data3[:10])

                     Number
Wind_Direction
CALM            820636367.0
Calm            482844818.0
NW              334753323.0
SSW             334734790.0
SSE             319990084.0
WNW             315591682.0
SW              314592995.0
NNW             301790540.0
S               296687043.0
WSW             272070706.0

In [21]:
data = '/content/drive/MyDrive/Jovian/victoradejumo2 us-accident-analysis/US_Accidents_Dec20_Updated.csv'
df_two = pd.read_csv(data, header = 0)
df_two.head()

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-1         2  ...               Day                   Day
1  A-2         2  ...               Day                   Day
2  A-3         2  ...             Night                 Night
3  A-4         2  ...               Day                   Day
4  A-5         3  ...               Day                   Day

[5 rows x 47 columns]

In [22]:
df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906610 entries, 0 to 2906609
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 790.0+ MB

In [32]:
df_two.shape

(2906610, 47)

In [23]:
df_two.set_index(pd.Index([num for num in range(1, len(df_one) + 1)]), inplace = True)

In [24]:
df_two

                ID  Severity  ... Nautical_Twilight Astronomical_Twilight
1              A-1         2  ...               Day                   Day
2              A-2         2  ...               Day                   Day
3              A-3         2  ...             Night                 Night
4              A-4         2  ...               Day                   Day
5              A-5         3  ...               Day                   Day
...            ...       ...  ...               ...                   ...
2906606  A-2906606         2  ...               Day                   Day
2906607  A-2906607         2  ...             Night                 Night
2906608  A-2906608         2  ...               Day                   Day
2906609  A-2906609         2  ...             Night                 Night
2906610  A-2906610         2  ...               Day                   Day

[2906610 rows x 47 columns]

In [27]:
missing_data = df_two.isnull().sum()
percentage_of_data = (missing_data/len(df_two)) * 100
print(percentage_of_data)

ID                        0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
End_Lat                   9.730270
End_Lng                   9.730270
Distance(mi)              0.000000
Description               0.000000
Number                   65.081728
Street                    0.000000
Side                      0.000000
City                      0.003716
County                    0.000000
State                     0.000000
Zipcode                   0.038326
Country                   0.000000
Timezone                  0.118007
Airport_Code              0.227344
Weather_Timestamp         1.614148
Temperature(F)            2.312797
Wind_Chill(F)            40.729888
Humidity(%)               2.451997
Pressure(in)              1.957882
Visibility(mi)            2.479796
Wind_Direction            2.183781
Wind_Speed(mph)          10.567740
Precipitation(in)        44.771263
Weather_Condition         2.471986
Amenity                   0.000000
Bump                      0.000000
Crossing                  0.000000
Give_Way                  0.000000
Junction                  0.000000
No_Exit                   0.000000
Railway                   0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Traffic_Signal            0.000000
Turning_Loop              0.000000
Sunrise_Sunset            0.003784
Civil_Twilight            0.003784
Nautical_Twilight         0.003784
Astronomical_Twilight     0.003784
dtype: float64

Dropping Rows of below 50%

In [28]:
df_three = df_two.dropna(subset = ['Astronomical_Twilight', 'Nautical_Twilight', 'Civil_Twilight', 'Sunrise_Sunset', 'Weather_Condition', 'Precipitation(in)', 'Wind_Speed(mph)', 'Wind_Direction', 'Visibility(mi)', 'Pressure(in)', 'Humidity(%)', 'Wind_Chill(F)', 'Temperature(F)', 'Weather_Timestamp', 'Airport_Code', 'Timezone', 'Zipcode', 'City', 'End_Lng', 'End_Lat'])

In [30]:
df_three.isnull().sum()

ID                            0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                       0
End_Lng                       0
Distance(mi)                  0
Description                   0
Number                   855883
Street                        0
Side                          0
City                          0
County                        0
State                         0
Zipcode                       0
Country                       0
Timezone                      0
Airport_Code                  0
Weather_Timestamp             0
Temperature(F)                0
Wind_Chill(F)                 0
Humidity(%)                   0
Pressure(in)                  0
Visibility(mi)                0
Wind_Direction                0
Wind_Speed(mph)               0
Precipitation(in)             0
Weather_Condition             0
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset                0
Civil_Twilight                0
Nautical_Twilight             0
Astronomical_Twilight         0
dtype: int64

In [33]:
df_three['Number'].fillna(df_three['Number'].mean(), inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [34]:
df_three.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Number                   0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

Categorical Data

In [39]:
df_three.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1380274 entries, 1 to 2906609
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1380274 non-null  object
 1   Severity               1380274 non-null  int64
 2   Start_Time             1380274 non-null  object
 3   End_Time               1380274 non-null  object
 4   Start_Lat              1380274 non-null  float64
 5   Start_Lng              1380274 non-null  float64
 6   End_Lat                1380274 non-null  float64
 7   End_Lng                1380274 non-null  float64
 8   Distance(mi)           1380274 non-null  float64
 9   Description            1380274 non-null  object
 10  Number                 1380274 non-null  float64
 11  Street                 1380274 non-null  object
 12  Side                   1380274 non-null  object
 13  City                   1380274 non-null  object
 14  County                 1380274 non-null  object
 15  State                  1380274 non-null  object
 16  Zipcode                1380274 non-null  object
 17  Country                1380274 non-null  object
 18  Timezone               1380274 non-null  object
 19  Airport_Code           1380274 non-null  object
 20  Weather_Timestamp      1380274 non-null  object
 21  Temperature(F)         1380274 non-null  float64
 22  Wind_Chill(F)          1380274 non-null  float64
 23  Humidity(%)            1380274 non-null  float64
 24  Pressure(in)           1380274 non-null  float64
 25  Visibility(mi)         1380274 non-null  float64
 26  Wind_Direction         1380274 non-null  object
 27  Wind_Speed(mph)        1380274 non-null  float64
 28  Precipitation(in)      1380274 non-null  float64
 29  Weather_Condition      1380274 non-null  object
 30  Amenity                1380274 non-null  bool
 31  Bump                   1380274 non-null  bool
 32  Crossing               1380274 non-null  bool
 33  Give_Way               1380274 non-null  bool
 34  Junction               1380274 non-null  bool
 35  No_Exit                1380274 non-null  bool
 36  Railway                1380274 non-null  bool
 37  Roundabout             1380274 non-null  bool
 38  Station                1380274 non-null  bool
 39  Stop                   1380274 non-null  bool
 40  Traffic_Calming        1380274 non-null  bool
 41  Traffic_Signal         1380274 non-null  bool
 42  Turning_Loop           1380274 non-null  bool
 43  Sunrise_Sunset         1380274 non-null  object
 44  Civil_Twilight         1380274 non-null  object
 45  Nautical_Twilight      1380274 non-null  object
 46  Astronomical_Twilight  1380274 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 385.7+ MB

In [44]:
df_three.describe()

           Severity     Start_Lat  ...  Wind_Speed(mph)  Precipitation(in)
count  1.380274e+06  1.380274e+06  ...     1.380274e+06       1.380274e+06
mean   2.185819e+00  3.654931e+01  ...     7.184788e+00       6.068853e-03
std    5.049784e-01  5.141144e+00  ...     5.577939e+00       6.163954e-02
min    1.000000e+00  2.455527e+01  ...     0.000000e+00       0.000000e+00
25%    2.000000e+00  3.368139e+01  ...     3.000000e+00       0.000000e+00
50%    2.000000e+00  3.607528e+01  ...     7.000000e+00       0.000000e+00
75%    2.000000e+00  4.054424e+01  ...     1.000000e+01       0.000000e+00
max    4.000000e+00  4.900220e+01  ...     9.840000e+02       2.400000e+01

[8 rows x 14 columns]

In [40]:
df_three.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [41]:
categorical_data = df_three[['ID', 'Start_Time', 'End_Time', 'Description', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight']]

In [42]:
categorical_data

                ID           Start_Time  ... Nautical_Twilight Astronomical_Twilight
1              A-1  2019-05-21 08:29:55  ...               Day                   Day
2              A-2  2019-10-07 17:43:09  ...               Day                   Day
3              A-3  2020-12-13 21:53:00  ...             Night                 Night
7              A-7  2019-12-12 09:48:52  ...               Day                   Day
8              A-8  2019-12-21 23:59:00  ...             Night                 Night
...            ...                  ...  ...               ...                   ...
2906601  A-2906601  2019-07-25 15:55:24  ...               Day                   Day
2906603  A-2906603  2020-10-31 03:49:00  ...             Night                 Night
2906605  A-2906605  2020-10-02 08:42:20  ...               Day                   Day
2906608  A-2906608  2020-11-23 12:52:00  ...               Day                   Day
2906609  A-2906609  2019-12-29 22:38:00  ...             Night                 Night

[1380274 rows x 19 columns]

Dataframe for Boolean Values

In [52]:
df_three.shape

(1380274, 47)

In [57]:
df_three.iloc[:1380274, 30:43]

         Amenity   Bump  ...  Traffic_Signal  Turning_Loop
1          False  False  ...           False         False
2          False  False  ...           False         False
3          False  False  ...           False         False
7          False  False  ...           False         False
8          False  False  ...           False         False
...          ...    ...  ...             ...           ...
2906601    False  False  ...            True         False
2906603    False  False  ...           False         False
2906605    False  False  ...           False         False
2906608    False  False  ...           False         False
2906609    False  False  ...           False         False

[1380274 rows x 13 columns]

In [58]:
df_three

                ID  Severity  ... Nautical_Twilight Astronomical_Twilight
1              A-1         2  ...               Day                   Day
2              A-2         2  ...               Day                   Day
3              A-3         2  ...             Night                 Night
7              A-7         4  ...               Day                   Day
8              A-8         2  ...             Night                 Night
...            ...       ...  ...               ...                   ...
2906601  A-2906601         2  ...               Day                   Day
2906603  A-2906603         2  ...             Night                 Night
2906605  A-2906605         2  ...               Day                   Day
2906608  A-2906608         2  ...               Day                   Day
2906609  A-2906609         2  ...             Night                 Night

[1380274 rows x 47 columns]